.CookieConsent {
  max-width: 420px;
  background-color: rgb(33, 33, 33) !important;
  margin: 0 16px;
  left: 16px;
  bottom: 0;
  padding: 0;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cookie-content {
  color: #ddd;
}

.accept-btn,
.decline-btn {
  transition: all 0.3s;
}

.accept-btn:hover {
  background-color: #e03f3f !important;
}

.decline-btn:hover {
  background-color: transparent !important;
}

.nav-section .app-logo>svg:last-child {
  display: block;
}

.sun-icon {
  display: none !important;
}

.dark .sun-icon {
  display: block !important;
}

.moon-icon {
  display: block !important;
}

.dark .moon-icon {
  display: none !important;
}

@media only screen and (max-width: 800px) {
  .nav-section .app-logo>svg:first-child {
    width: 3.5rem;
  }
}

@media only screen and (max-width: 640px) {
  .CookieConsent {
    left: 0 !important;
    right: 0 !important;
    bottom: 60px !important;
    width: unset !important;
    padding: 0;
    justify-content: center !important;
  }
}